﻿@model IEnumerable<CarsCatalogue.Models.Car>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Cars</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @{
            string reversed = ((ViewBag.SortOrder == "asc") ? "desc" : "asc");
        }
        <th>
            @Html.ActionLink("Manufacturer", "Query", new { filterOn = ViewBag.FilterOn, filter = ViewBag.Filter, sortBy = "manufacturer", sortOrder = (ViewBag.SortBy == "manufacturer") ? reversed : "asc" })
        </th>
        <th>
            @Html.ActionLink("Model", "Query", new { filterOn = ViewBag.FilterOn, filter = ViewBag.Filter, sortBy = "model", sortOrder = (ViewBag.SortBy == "model") ? reversed : "asc" })
        </th>
        <th>
            @Html.ActionLink("Year", "Query", new { filterOn = ViewBag.FilterOn, filter = ViewBag.Filter, sortBy = "year", sortOrder = (ViewBag.SortBy == "year") ? reversed : "asc" })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.ActionLink(item.Manufacturer.ToString(), "Query", new { filterOn = "manufacturer", filter = item.Manufacturer.ToString(), sortBy = ViewBag.SortBy, sortOrder = ViewBag.SortOrder})
    </td>
    <td>
        @Html.ActionLink(item.Model, "Query", new { filterOn = "model", filter = item.Model, sortBy = ViewBag.SortBy, sortOrder = ViewBag.SortOrder })
    </td>
    <td>
        @Html.ActionLink(item.Year.ToString(), "Query", new { filterOn = "year", filter = item.Year.ToString(), sortBy = ViewBag.SortBy, sortOrder = ViewBag.SortOrder })
    </td>
    <td style="background-color:@System.Drawing.ColorTranslator.ToHtml(item.Color)"></td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
}

</table>
